 * {
     margin: 0px;
     padding: 0px;
 }

 body {
     display: flex;
     justify-content: center;
     margin-top: 50px;
 }

 .main {
     width: 80%;
     height: 85vh;
     background-color: rgb(197, 222, 244);
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
 }

 @media screen and (max-width:1500px) {
     .main {
         height: fit-content;
     }

 }

 .box {
     width: 220px;
     height: 350px;
     margin: 5px;
     background-color: white;
     border-radius: 10px;
     filter: blur(2px);
     box-shadow: 5px 5px 5px black;
 }

 .box:hover {
     filter: none;
     transition-duration: 1.8s;
 }

 .logo {
     height: 170px;
     font-size: 40px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
     border-bottom-right-radius: 85%;
     border-top-right-radius: 5%;
     border-top-left-radius: 5%;
     margin: 5px;
     margin-bottom: 20px;

 }

 .logo1 {
     background: linear-gradient(rgb(241 66 19), rgb(241 147 21));
 }

 .logo2 {
     background: linear-gradient(rgb(144 0 253), rgb(206 0 255));
 }

 .logo3 {
     background: linear-gradient(rgb(81 69 167), rgb(152 166 237));
 }

 .logo4 {
     background: linear-gradient(rgb(27 171 142), rgb(48 226 130));
 }

 h4 {
     text-align: center;
 }

 p {
     text-align: center;
     padding: 10px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .btn {
     padding: 10px;
     text-align: center;
 }

 button {
     padding: 5px;
     width: 90px;
     border: none;
     border-radius: 10px;
     color: white;
 }